<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954997590508-hc9qi2ts5agd1kn739pfkcehs443hr1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954997590508-hc9qi2ts5agd1kn739pfkcehs443hr1a</string>
	<key>API_KEY</key>
	<string>AIzaSyA8CZPBctsL6JgF88xoJekyM4QPfsG3NxI</string>
	<key>GCM_SENDER_ID</key>
	<string>954997590508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cturrion.AmentiaIndice</string>
	<key>PROJECT_ID</key>
	<string>amentia-indice</string>
	<key>STORAGE_BUCKET</key>
	<string>amentia-indice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954997590508:ios:51a718f9286572510f98c9</string>
</dict>
</plist>